a{
    display: inline-block;
    width:90%;
}

a:hover{
    text-decoration: none;
}

i{
    display: inline-block;
    text-align: right;
    opacity: 0.8;
}

i:hover{
    cursor: pointer;
    opacity: 1;
}